
.core-node-body{
  display: flex;
  width: 120px;
  background-color: #121212;
  border-radius: 10px;
  
  .header{
    color: #171717;
    font-size: 8pt;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    width: 100%;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f73472;
    position: absolute;
    top: 0%;
    left: 0%;
    user-select: none;
  }

  .input{
    height: 10px;
    width: 10px;
    background-color: #f73472;
  }

  .output{
    height: 10px;
    width: 10px;
    background-color: #f73472;
    user-select: none;
    cursor: pointer;
  }

  .start-stop {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 30px;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    
  }

  .label{
    font-weight: 500;
    font-size: 7pt;
    color: #777;
  }

  .slider{
    width: 80%;
    height: 12px;
    background-color: #272727;
    display: flex;
    justify-content: center;
    cursor: col-resize;
  

    .inner-text{
      transform: translateY(0px);
      font-weight: 500;
      font-size: 7pt;
      color: #777;
    
    }

  }
}