.envelope-container {
    border: 1px solid #d8c7a612;
    background-size: 10px 10px;
    background-image:
      linear-gradient(to right, #d8c7a612 1px, transparent 1px),
      linear-gradient(to bottom, #d8c7a612 1px, transparent 1px);

  // &.carrier{

  // }
  // &.

  .adsr{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .attack{
      background-color: #f86c2b;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    .decay{
      background-color: #f86c2b;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    .sustain{
      background-color: #f86c2b;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
    .release{
      background-color: #f86c2b;
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}